/*provide icon Component*/
.icon{display:inline-block;width:1.8rem;height:1.8rem;font-size:1.8rem;font-family:"iconfont"}
.icon::after{display:inline-block;width:1.8rem;height:1.8rem;margin-left:0;font-size:1.8rem;content:'';font-family:"iconfont"}


.icon-replay{}
.icon-replay::after{content:"@"}
.icon-link{}
.icon-link::after{content:"#"}
.icon-musical{}
.icon-musical::after{content:"1"}
.icon-flag{}
.icon-flag::after{content:"2"}
.icon-bookmark{}
.icon-bookmark::after{content:"3"}
.icon-lock{}
.icon-lock::after{content:"4"}
.icon-unlock{}
.icon-unlock::after{content:"5"}
.icon-ring{}
.icon-ring::after{content:"6"}
.icon-cal{}
.icon-cal::after{content:"7"}
.icon-disk{}
.icon-disk::after{content:"8"}
.icon-back{}
.icon-back::after{content:"9"}
.icon-forward{}
.icon-forward::after{content:"0"}
.icon-write{}
.icon-write::after{content:"a"}
.icon-img{}
.icon-img::after{content:"b"}
.icon-camera{}
.icon-camera::after{content:"c"}
.icon-music{}
.icon-music::after{content:"d"}
.icon-wifi{}
.icon-wifi::after{content:"e"}
.icon-file{}
.icon-file::after{content:"f"}
.icon-files{}
.icon-files::after{content:"g"}
.icon-folder{}
.icon-folder::after{content:"h"}
.icon-key{}
.icon-key::after{content:"i"}
.icon-setting{}
.icon-setting::after{content:"j"}
.icon-analytics{}
.icon-analytics::after{content:"k"}
.icon-recycle{}
.icon-recycle::after{content:"l"}
.icon-target{}
.icon-target::after{content:"m"}
.icon-list{}
.icon-list::after{content:"n"}
.icon-cloud-down{}
.icon-cloud-down::after{content:"o"}
.icon-cloud-up{}
.icon-cloud-up::after{content:"p"}
.icon-cart{}
.icon-cart::after{content:"q"}
.icon-phone{}
.icon-phone::after{content:"r"}
.icon-email{}
.icon-email::after{content:"s"}
.icon-tag{}
.icon-tag::after{content:"t"}
.icon-retweet{}
.icon-retweet::after{content:"u"}
.icon-book{}
.icon-book::after{content:"v"}
.icon-mic{}
.icon-mic::after{content:"w"}
.icon-no-mic{}
.icon-no-mic::after{content:"x"}
.icon-attachment{}
.icon-attachment::after{content:"y"}
.icon-video{}
.icon-video::after{content:"z"}
.icon-page{}
.icon-page::after{content:"A"}
.icon-clock{}
.icon-clock::after{content:"B"}
.icon-comment{}
.icon-comment::after{content:"C"}
.icon-chat{}
.icon-chat::after{content:"D"}
.icon-man{}
.icon-man::after{content:"E"}
.icon-men{}
.icon-men::after{content:"F"}
.icon-refresh{}
.icon-refresh::after{content:"G"}
.icon-search{}
.icon-search::after{content:"H"}
.icon-location{}
.icon-location::after{content:"I"}
.icon-star{}
.icon-star::after{content:"J"}
.icon-heart{}
.icon-heart::after{content:"K"}
.icon-warning{}
.icon-warning::after{content:"L"}
.icon-add{}
.icon-add::after{content:"M"}
.icon-remove{}
.icon-remove::after{content:"N"}
.icon-help{}
.icon-help::after{content:"O"}
.icon-alert{}
.icon-alert::after{content:"P"}
.icon-success{}
.icon-success::after{content:"Q"}
.icon-reduce{}
.icon-reduce::after{content:"R"}
.icon-cheng{}
.icon-cheng::after{content:"S"}
.icon-plus{}
.icon-plus::after{content:"T"}
.icon-up{}
.icon-up::after{content:"U"}
.icon-down{}
.icon-down::after{content:"V"}
.icon-left-arrow{}
.icon-left-arrow::after{content:"W"}
.icon-right-arrow{}
.icon-right-arrow::after{content:"X"}
.icon-home{}
.icon-home::after{content:"Y"}
.icon-edit{}
.icon-edit::after{content:"Z"}