/*provide icon*/
.icon{display:inline-block;width:1.8rem;height:1.8rem;font-size:1.8rem;font-family:"iconfont"}
.icon::after{display:inline-block;width:1.8rem;height:1.8rem;margin-left:0;font-size:1.8rem;content:'';font-family:"iconfont"}

.icon-home{}
.icon-home::after{content:"Y"}
.icon-add{}
.icon-add::after{content:""}
.icon-refresh{}
.icon-refresh::after{content:""}
.icon-list{}
.icon-list::after{content:""}
.icon-edit{}
.icon-edit::after{content:"Z"}
.icon-back{}
.icon-back::after{content:"@"}
.icon-link{}
.icon-link::after{content:"#"}
.icon-music{}
.icon-music::after{content:"1"}
.icon-flag{}
.icon-flag::after{content:"2"}
.icon-folder{}
.icon-folder::after{content:"3"}
.icon-lock{}
.icon-lock::after{content:"4"}
.icon-unlock{}
.icon-unlock::after{content:"5"}
.icon-ring{}
.icon-ring::after{content:"6"}
.icon-cal{}
.icon-cal::after{content:"7"}
.icon-unlock{}
.icon-unlock::after{content:"8"}
.icon-unlock{}
.icon-unlock::after{content:"9"}
.icon-unlock{}
.icon-unlock::after{content:"0"}
.icon-unlock{}
.icon-unlock::after{content:"a"}
.icon-unlock{}
.icon-unlock::after{content:"b"}
.icon-unlock{}
.icon-unlock::after{content:"c"}
.icon-unlock{}
.icon-unlock::after{content:"d"}
.icon-unlock{}
.icon-unlock::after{content:"e"}
.icon-unlock{}
.icon-unlock::after{content:"f"}
.icon-unlock{}
.icon-unlock::after{content:"g"}
.icon-unlock{}
.icon-unlock::after{content:"h"}
.icon-unlock{}
.icon-unlock::after{content:"i"}
.icon-unlock{}
.icon-unlock::after{content:"j"}
.icon-unlock{}
.icon-unlock::after{content:"k"}
.icon-unlock{}
.icon-unlock::after{content:"l"}
.icon-unlock{}
.icon-unlock::after{content:"m"}
.icon-unlock{}
.icon-unlock::after{content:"n"}
.icon-unlock{}
.icon-unlock::after{content:"o"}
.icon-unlock{}
.icon-unlock::after{content:"p"}
.icon-unlock{}
.icon-unlock::after{content:"q"}
.icon-unlock{}
.icon-unlock::after{content:"r"}
.icon-unlock{}
.icon-unlock::after{content:"s"}
.icon-unlock{}
.icon-unlock::after{content:"t"}
.icon-unlock{}
.icon-unlock::after{content:"u"}
.icon-unlock{}
.icon-unlock::after{content:"v"}
.icon-unlock{}
.icon-unlock::after{content:"w"}
.icon-unlock{}
.icon-unlock::after{content:"x"}
.icon-unlock{}
.icon-unlock::after{content:"y"}
.icon-unlock{}
.icon-unlock::after{content:"z"}
.icon-unlock{}
.icon-unlock::after{content:"A"}
.icon-unlock{}
.icon-unlock::after{content:"B"}
.icon-unlock{}
.icon-unlock::after{content:"C"}
.icon-unlock{}
.icon-unlock::after{content:"D"}
.icon-unlock{}
.icon-unlock::after{content:"E"}
.icon-unlock{}
.icon-unlock::after{content:"F"}
.icon-unlock{}
.icon-unlock::after{content:"G"}
.icon-unlock{}
.icon-unlock::after{content:"H"}
.icon-unlock{}
.icon-unlock::after{content:"I"}
.icon-unlock{}
.icon-unlock::after{content:"J"}
.icon-unlock{}
.icon-unlock::after{content:"K"}
.icon-unlock{}
.icon-unlock::after{content:"L"}
.icon-unlock{}
.icon-unlock::after{content:"M"}
.icon-unlock{}
.icon-unlock::after{content:"N"}
.icon-unlock{}
.icon-unlock::after{content:"O"}
.icon-unlock{}
.icon-unlock::after{content:"P"}
.icon-unlock{}
.icon-unlock::after{content:"Q"}
.icon-reduce{}
.icon-reduce::after{content:"R"}
.icon-cheng{}
.icon-cheng::after{content:"S"}
.icon-plus{}
.icon-plus::after{content:"T"}
.icon-up{}
.icon-up::after{content:"U"}
.icon-down{}
.icon-down::after{content:"V"}
.icon-left-arrow{}
.icon-left-arrow::after{content:"W"}
.icon-right-arrow{}
.icon-right-arrow::after{content:"X"}
.icon-home{}
.icon-home::after{content:"Y"}
.icon-edit{}
.icon-edit::after{content:"Z"}