header{height:60px;padding: 10px 0;text-align:center;}
header h1{font-size:2rem;font-weight:bold;font-family:"origram";color:green;}
header h1:first-letter{text-transform:uppercase}
header h3{font-size:1.2rem;}
footer{height:3rem;line-height:3rem;background:#2E3936;padding:.5rem;}
footer a,footer a:visited,footer a::after{color:#FFF;}
footer .icon{margin-right:1rem;}
article{padding:10px;}
article section{padding:10px;background:#F0F0F0;margin:10px 0}
article section h2{font-size:1.2rem;line-height:2;}
article section li{line-height:1.6;}