@import url("reset.css");
@import url("font.css");
@import url("layout.css");
@import url("icon.css");
@import url("miscellaneous.css");

body{
	background:#F6F6F6;
	font-family:"微软雅黑";
	color:#454545;
}